/* .home-parent {
} */

.main-card-container {
  width: 737px;
  height: 147px;
  background-color: #fff;
  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
  border-radius: 15px;
  margin: 25px 20px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-card-container .text-container h4 {
  font-weight: 700;
  font-size: 18px;
  color: #2d3748;
  margin-bottom: 10px;
}
.main-card-container .text-container p {
  font-weight: 400;
  font-size: 14px;
  color: #a0aec0;
}

/* Analystic cards */
/* Analystic cards */
.analystic-cards-container {
  padding: 20px;
}

.analystic-cards-container .analystic-row-container {
  display: flex;
  margin: 20px 0;
}

/* Graphic analystic */
/* Graphic analystic */
.graphic-analysis-container {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
