body {
  margin: 0;
  font-family: "Outfit";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
}

:root {
  --green-color: #369657;
  --red-color: #da0d18;
}

html {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}
